# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings
NODE_TLS_REJECT_UNAUTHORIZED=0

# DATABASE_URL=mysql://root:abogoboga@10.1.1.13:3306/ecoguardian_db
DATABASE_URL=mysql://root:abogoboga@192.168.192.3:3306/ecoguardian_db

# Next Auth
# You can generate the secret via 'openssl rand -base64 32' on Linux
# More info: https://next-auth.js.org/configuration/options#secret
NEXTAUTH_SECRET=bbfdb415fa0ec4f4e355a256e37f72ae
NEXTAUTH_URL=http://localhost:3000
# NEXTAUTH_URL=https://bimbel-linear.vercel.app

# Next Auth GOOGLE Provider
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# socket.io url for deployment
NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_CHART_URL=http://192.168.192.5:3002
